body {
  background-color: #79D7A7;
  height: 100%;
}

.container {
  text-align: center;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  padding: 3rem;
}

p {
  font-size: 2rem;
  padding: 3rem;
}

#green {
  background-color: #339966;
  color: #FFCD90;
}

#orange {
  background-color: #FFBF70;
  color: #BF406D;
}

#pink {
  background-color: #EE87AB;
  color: #339966;
}
