body {
  background-color: #79D7A7;
  height: 100%;
}

.container-fluid {
  text-align: center;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  padding: 3rem;
}

figure {
  border-style: solid;
  border-radius: 1rem;
}

p {
  font-size: 2rem;
  padding: 3rem;
}

#green {
  background-color: #339966;
  color: #FFCD90;
  border-color: #0A6A39;
}

#orange {
  background-color: #FFBF70;
  color: #BF406D;
  border-color: #BE7A26;
}

#pink {
  background-color: #EE87AB;
  color: #339966;
  border-color: #A72150;
}
