.jumbotron {
  background-color: #79D7A7;
  height: 100%;
}

.container {
  text-align: center;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  padding: 3rem;
}

div {
  padding: 3rem;
}

p {
  font-size: 2rem;
}

.col-sm-8 {
  background-color: #339966;
  color: #FFCD90;
}

.col-sm-4 {
  background-color: #FFBF70;
  color: #9B254F;
}
